<div class="about-page">
  <h2>About</h2>

  <div ui-sref="chaptersIndex">Just Bring me to the game!</div>

  <h3>What is it?</h3>
  <p>In short its an endless choose your own adventure book. Any registered player can got through a story and either make to the end by winning/dying. If he reaches a point where there is no story he can create content and tow new choices for the empty choice he selected.</p>

  <h3>Is it endless?</h3>
  <p>Somewhat. It can go on forever, however if all paths are blocked by an end game message their will be no way to continue the story.</p>

  <h3>Future Plans</h3>
  <p>Categories.</p>
</div>