<div class="about-page">

  <div ui-sref="chaptersIndex">Just bring me to the game!</div>

  <h2>Information</h2>

  <h3>What is it?</h3>
  <p>In short its an endless choose your own adventure book. Any registered player can got through a story and either make to the end by winning/dying. If he reaches a point where there is no story he can create content and tow new choices for the empty choice he selected.</p>
  <hr>
  <h3>What is choose your own adventure?</h3>
  <p>Its a genre of book originally created by Edward Packard. <a href="https://en.wikipedia.org/wiki/Choose_Your_Own_Adventure" target="_blank">Choose Your Own Adventure</a> is a series of children's gamebooks where each story is written from a second-person point of view, with the reader assuming the role of the protagonist and making choices that determine the main character's actions and the plot's outcome. </p>
  <hr>
  <h3>Is it endless?</h3>
  <p>Somewhat. It can go on forever, however if all paths are blocked by an end game message their will be no way to continue the story.</p>
  <hr>
  <h3>Future Plans</h3>
    <ol>
      <li>Categories</li>
      <li>Gamification</li>
      <li>O Auth (twitter/steam/twitch login)</li>
      <li>More Stories</li>
    </ol>
  <hr>
  <h3>WHO ARE YOU!?</h3>
  <p>Cameron Perrin. Check out my 
    <a href="https://github.com/CameronPerrin">github</a>, 
    <a href="https://www.linkedin.com/in/cameron-perrin-242542121">linkedIn</a>, 
    <a href="mailto:perrin.cameron@gmail.com">email</a>, 
    and <a href="https://twitter.com/slowlysmiles">twitter</a>!
  </p>
  <hr>
</div>