<form ng-submit="chaptersEdit.save()">
  <textarea class="content-change" type="text" name="content" ng-model="chaptersEdit.selected.content" placeholder="Story Content">
  </textarea>

  <input class="image-change" type="file" file name="image" ng-model="chaptersEdit.selected.image" placeholder="Image">

  <input ng-hide="chaptersEdit.selected.endGame" class="optionOne" type="text" name="optionOneText" ng-model="chaptersEdit.selected.optionOneText" placeholder="Option One">
  <input ng-hide="chaptersEdit.selected.endGame" class="optionTwo" type="text" name="optionTwoText" ng-model="chaptersEdit.selected.optionTwoText" placeholder="Option Two">
  <br>
  <label><input type="checkbox" name="endGame" ng-model="chaptersEdit.selected.endGame">Ends Game</label>
  <div class="buttons">
    <button class="button-1">Save</button>
    <button class="button-2" type="button" ng-click="chaptersEdit.cancel()">Back</button>
  </div>
</form>