<form ng-submit="chaptersEdit.save()">
  <textarea class="content-edit" type="text" name="content" ng-model="chaptersEdit.selected.content" placeholder="Story Content">
  </textarea>

  <input class="image-edit" type="file" file name="image" ng-model="chaptersEdit.selected.image" placeholder="Image">

  <input class="optionOne" type="text" name="optionOneText" ng-model="chaptersEdit.selected.optionOneText" placeholder="Option One">
  <input class="optionTwo" type="text" name="optionTwoText" ng-model="chaptersEdit.selected.optionTwoText" placeholder="Option Two">
  <br>
  <div class="edit-buttons">
    <button class="save-edit">Save</button>
    <button class="cancel-edit" type="button" ui-sref="chaptersShow({ id: chaptersEdit.selected._id })">Cancel</button>
  </div>
</form>