<form ng-submit="chaptersEdit.save()">
  <textarea type="text" name="content" ng-model="chaptersEdit.selected.content" placeholder="Story Content">
  </textarea>

  <input type="text" name="optionOneText" ng-model="chaptersEdit.selected.optionOneText" placeholder="Option One">
  <input type="text" name="optionTwoText" ng-model="chaptersEdit.selected.optionTwoText" placeholder="Option Two">
  <button>Save</button>
  <button type="button" ui-sref="chaptersShow({ id: chaptersEdit.selected._id })">Cancel</button>
</form>