<form ng-submit="chaptersNew.create()">

  <textarea type="text" name="content" ng-model="chaptersNew.new.content" placeholder="Story Content">
  </textarea>
  <input type="text" name="OptionOneText" ng-model="chaptersNew.new.optionOneText" placeholder="Option One Text">
  <input type="text" name="OptionTwoText" ng-model="chaptersNew.new.optionTwoText" placeholder="Option Two Text">

  <button>Save</button>
  <button type="button" ui-sref="chaptersShow({ id: chaptersNew.new._id })">Cancel</button>
</form>