<div class="content">{{ chaptersShow.selected.content }}
  <img ng-src="{{ chaptersShow.selected.image }}">
</div>
<!-- <div>{{ chaptersShow.selected.options }}</div> -->
<div class="options">
<div ng-hide="chaptersShow.selected.endGame" ng-repeat="option in chaptersShow.selected.options">
  <div class="option" ng-if="option.owner" ui-sref="chaptersShow({ id: option._id })">{{ option.buttonText }}</div>
  <div class="option" ng-if="!option.owner" ui-sref="chaptersEdit({ id: option._id })">{{ option.buttonText }}</div>
</div>
</div>
<br>
<div class="buttons">
  <button ng-show="chaptersShow.whoOwns()" class="button-1" ui-sref="chaptersEdit({ id: chaptersShow.selected._id })">Edit</button>
  <button ng-show="chaptersShow.whoOwns()" class="button-2" type="button" ng-click="chaptersShow.delete()">Delete</button>
</div>